*{
    margin: 0;
    padding: 0;
}
.bg-img{
    width: 100%;
    height: 92vh;
    background-image: url(images/hero-bg.png);
    background-size: cover;
}
.bg-color{
    background-color: rgb(245, 244, 244);
}
.hero-title{
    width: 40vw;
    height: 5vh;
    text-align: center;
    padding-top: 5rem ;
}
.btn-container1{
    height: 15vh;
    margin-top: 7vw !important;   
}
.btn-radius{
    border-radius: 20px;
}
.img-center{
    width: 40vw;
    height: 40vh;
}



/* about us */
.bg-color-about{
    background-color: rgb(23, 23, 246);
}

.mic-item-para{
    color: white;
    margin-left: 3rem;
}
.margin-left-about{
    padding-left: 5vw;
}


.services{
    margin-top: 4rem ;
}

.services-align{
    text-align: center;
}

.bg-img-testimonial{
    width: 100%;
    height: 50vh;
    background-image: url(images/testimonial_bg.jpg);
    background-size: cover;
}
.testimonial-content{
    width: 50%;
    height: 50vh;
    margin: auto;
}
.testimonial-name-color{
    color: blue;
    font-size: 3vw;
}
.testimonial-para{
    width: 35vw;
    height: auto;
}
.touch-color{
    color:blue;
}
@media only screen and (max-width: 1041px){
    .testimonial-content{
        font-size: 1.9vw;
    }
}
@media only screen and (max-width: 996px){
    .btn-container1{
        margin-top: 13vw !important;   
    }
}
@media only screen and (max-width: 991px){
    .btn-margin{
        margin-bottom: 3vw;
    }
}
@media only screen and (max-width: 726px){
    .hero-title{
        width: 50vw;
        height: 5vh;
    }
    .btn-container1{
        margin-top: 18vw !important;   
    }
}
@media only screen and (max-width: 550px){
    .btn-container1{
        margin-top: 27vw !important;   
    }
    .img-center{
        width: 50vw;
        height: 40vh;
    }
    
}
@media only screen and (max-width: 431px){
    .btn-container1{
        margin-top: 40vw !important;   
    }
    .img-center{
        width: 50vw;
        height: 35vh;
    }
    
}
@media only screen and (max-width: 380px){
    .hero-title{
        font-size: 3vh;
    }
    .img-center{
        width: 50vw;
        height: 35vh;
    }
    
}
@media only screen and (max-width: 336px){
    .hero-title{
        font-size: 3vh;
    }
    
}
@media only screen and (max-width: 268px){
    .hero-title{
        font-size: 2vh;
    }
    .img-center{
        width: 50vw;
        height: 35vh;
    }
    
}