*{
    margin: 0;
    padding: 0;
}
.bg-img{
    width: 100%;
    height: 92vh;
    background-image: url(images/hero-bg.png);
    background-size: cover;
}
.bg-color{
    background-color: rgb(245, 244, 244);
}
.hero-title{
    width: 37rem;
    height: 5vh;
    text-align: center;
    padding-top: 5rem ;
}
.btn-container1{
    width: 10rem;
    height: 5rem;
    margin-top: 6rem !important;   
}
.btn-radius{
    border-radius: 20px;
}
.img-center{
    width: 30rem;
    height: 20rem;
    margin-left: 32rem;
}



/* about us */
.about-title-width{
    width: 25rem;
    height: 5rem;
}
.btn-about{
    margin-bottom: 14rem;
}
.bg-color-about{
    width: 50%;
    height: 20rem;
    background-color: rgb(23, 23, 246);
}

.mic-item-para{
    color: white;
    margin-left: 3rem;
}
.margin-left-about{
    padding-left: 5rem;
}


.services{
    margin-top: 4rem ;
}

.services-align{
    text-align: center;
}
.services-para{
    width: 35rem;
    height: 4rem;
}

.bg-img-testimonial{
    width: 100%;
    height: 50vh;
    background-image: url(images/testimonial_bg.jpg);
    background-size: cover;
}
.testimonial-content{
    width: 50%;
    height: 50vh;
    margin: auto;
}
.testimonial-name-color{
    color: blue;
    font-size: 1.5rem;
}
.testimonial-para{
    width: 35vw;
    height: auto;
}
.touch-color{
    color:blue;
}
